<div id="confirmModal" class="modal fade in">
    <div class="modal-dialog">
        <div id="confirmModalContent" class="modal-content" style="border-radius: 5px">
            <div class="modal-header" style="height: 50px; font-size: 25px; font-weight: bold">
                @Html.Translate("Shared","Attention")
            </div>
            <div class="modal-body">
                Confermi l'esecuzione dell'operazione? 
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="btn_confirm_modal">SI</button>
                <button type="button" data-dismiss="modal" class="btn" id="btn_confirm_modal_no">NO</button>
            </div>
        </div>
    </div>
</div>

