@model Ica.SalesOrders.Web.ViewModels.HomeViewModel


<div class="box homeList" style="padding-top:10px;">
    <div class="box-header">
        
    </div>

    <!-- /.box-header -->
    <div class="box-body" id="bodyTable">        
        
         
        
        </div>
    </div>


@section scripts {

    <script type="text/javascript">

    </script>
}