@model Ica.SalesOrders.Web.ViewModels.WarehouseDetailViewModel

<div class="box filtro">
    <div class="box-header with-border">
        <h3 class="box-title">@Html.Translate("Warehouse", "Results")</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body form-horizontal">
        <p>@Html.Translate("Warehouse", "NoResults")</p>


    </div>
</div>
