@model Ica.SalesOrders.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}
<div class="box homeList" style="padding-top:10px;">
    <div class="box-header">
    </div>

    <!-- /.box-header -->
    <div class="box-body" id="bodyTable">
        <h1>ICA Group Web App</h1>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
    </script>
}